.about {
  width: 100%;
  padding: 0 0 96px 0;
  background-color: #fafafa;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 92px;
  align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.heading {
  font-family: var(--font-tenor-sans), sans-serif;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin: 0;
  color: #000000;
  box-sizing: border-box;
  padding: 0 0 24px 0;
  border-bottom: 1px solid #000000;
}

.textBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
  color: black;
  max-width: 420px;
  translate: 10% 0;
}

.paragraph {
  font-family: var(--font-onest), sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  /* color: #333333; */
  margin: 0;
}

.author {
  font-weight: 700;
  font-family: var(--font-tenor-sans), sans-serif;
  display: grid;
  font-size: 14px;
  grid-template-columns: 1fr;
}

.imageWrapper {
  width: 100%;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-width: 390px;
  /* border-radius: 8px; */
  /* box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1); */
}

/* Responsive Design */
@media (max-width: 968px) {
  .container {
    grid-template-columns: 1fr;
    gap: 60px;
  }

  .textBlock {
    translate: 5% 0;
  }

  .image {
    max-width: 100%;
    max-height: 420px;
    object-fit: contain;
    translate: 15% 0;
    /* translate: 0 -75%; */
  }
}

@media (max-width: 768px) {
  .about {
    padding: 80px 0;
  }

  .container {
    padding: 0 20px;
    gap: 40px;
  }

  .content {
    gap: 32px;
  }

  .heading {
    font-size: 36px;
  }

  .paragraph {
    font-size: 16px;
    line-height: 1.7;
  }
}

@media (max-width: 480px) {
  .about {
    padding: 48px 0 0 0;
  }

  .container {
    padding: 0 24px;
    gap: 32px;
  }

  .heading {
    font-size: 28px;
  }

  .textBlock {
    translate: 5% 0;
      max-width: 320px;
  }

  .paragraph {
    font-size: 14px;
  }

  .image {
    /* translate: 0 0; */
    max-width: 300px;
          /* margin: 0 auto; */
    translate: 5% 0;
    /* border-radius: 4px; */
  }
}

@media (max-width: 479px) {
  .textBlock {
    translate: 2.5% 0;
  }
  .image {
    translate: 2.5% 0;
  }
}
