.linkComp {
    color: #000;
    align-items: var(--link-comp-align-items, center);
    gap: 12px;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    /* justify-content: space-between; */
    text-transform: uppercase;
    /* font-weight: 700; */
}