
.step {
    box-sizing: border-box;
    padding: 12px 0;
    border: none;
    border-top: 1px solid black;
    display: grid;
    grid-template-columns: 30px 1fr;
    gap: 24px;
    text-align: left;
    width: 100%;
    background-color: transparent;
}

.stepFirst {
    border-top: none;
}

.stepContentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.stepHeaderWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stepContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 420px;
}

/* .step:last-of-type {
    grid-column: 1 / 3;
} */

.stepNumber, 
.stepTitle {
    font-family: var(--font-onest), sans-serif;
    /* font-family: var(--font-tenor-sans), sans-serif; */
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: black;
    text-transform: capitalize;
}


.stepDescription, .stepResult {
    font-family: var(--font-onest), sans-serif;
    color: black;
    /* font-size: 16px;
    line-height: 1.6; */
}

.stepIcon {
    width: 25px;
    height: 25px;
    color: black;
    transition: rotate 0.3s ease;
}

.stepIconOpen {
    rotate: 90deg;
}

@media screen and (max-width: 1023px) {
    .stepNumber,
    .stepTitle {
        font-size: 20px;
    }

    .stepIcon {
        width: 20px;
        height: 20px;
    }

    .stepDescription,
    .stepResult {
        font-size: 14px;
    }
}

@media screen and (max-width: 424px) {
    .step {
        gap: 4px;
        grid-template-columns: 24px 1fr;
    }
    .stepNumber,
    .stepTitle {
        font-size: 18px;
        font-weight: 500;
    }
    /* .stepDescription,
    .stepResult {
        font-size: 14px;
    } */
}