.step {
    box-sizing: border-box;
    padding: 12px 12px;
    border: none;
    border-top: 1px solid black;
    display: grid;
    gap: 24px;
    text-align: left;
    width: 100%;
    background-color: transparent;
}

.stepHeaderWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
}

.stepContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* .step:last-of-type {
    grid-column: 1 / 3;
} */

.stepNumber, 
.stepTitle {
    font-family: var(--font-onest), sans-serif;
    /* font-family: var(--font-tenor-sans), sans-serif; */
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: black;
    text-transform: capitalize;
}


.stepDescription, .stepResult {
    font-family: var(--font-onest), sans-serif;
    color: black;
    /* font-size: 16px;
    line-height: 1.6; */
}