
.step {
    box-sizing: border-box;
    padding: 24px 0;
    border: none;
    border-bottom: 1px solid black;
    /* display: grid;
    grid-template-columns: 90px 1fr; */
    display: grid;
    grid-template-columns: 45px 540px 280px;
    justify-content: space-between;
    /* grid-template-columns: 45px 1fr; */
    /* display: flex;
    align-items: flex-start;
    justify-content: space-between; */
    gap: 24px;
    /* display: grid;
    grid-template-columns: 30px 1fr;
    gap: 24px; */
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    width: 100%;
    background-color: transparent; */
}


.stepFirst {
    padding-top: 0;
}

.stepContentWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
}

.stepHeaderWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stepContentWrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 420px;
}

/* .step:last-of-type {
    grid-column: 1 / 3;
} */



.stepNumber, 
.stepTitle {
    /* font-family: var(--font-onest), sans-serif; */
    /* font-family: var(--font-tenor-sans), sans-serif; */
    /* font-size: 24px; */
    /* font-weight: 400; */
    /* --healine-size: 20px; */
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: black;
    text-transform: capitalize;
}

.stepNumber {
    font-family: var(--font-onest), sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 1;
    /* translate: 0 -5px; */
}

.stepContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    /* max-width: 420px; */
}

.stepTitle {
    font-family: var(--font-tenor-sans), sans-serif;
    --headline-size: 32px;
    /* font-size: 28px; */
    font-weight: 700;
    text-transform: uppercase;
}

.stepDescription {
    font-family: var(--font-onest), sans-serif;
    font-size: var(--font-size, 18px);
    /* font-size: 16px; */
}

@container steps-list (max-width: 767px) {
    .step {
        grid-template-columns: 45px 1fr;
        row-gap: 0;
    }
    .stepTitle {
        --headline-size: 20px;
    }
    .stepDescription {
        --font-size: 14px;
        grid-column: 2/3;
    }
}

@container steps-list (max-width: 480px) {
    .step {
        row-gap: 12px;
        column-gap: 24px;
        grid-template-columns: 25px 1fr;
    }
    .stepNumber {
        font-size: 24px;
    }
}
/* .stepSmall {
    grid-template-columns: 45px 1fr;
    row-gap: 0;
}

.stepSmall .stepTitle {
    --headline-size: 20px;
}

.stepSmall .stepDescription {
    --font-size: 14px;
    grid-column: 2/3;
} */

@media screen and (max-width: 1023px) {
    /* .step {
        grid-template-columns: 30px 310px 310px;
    } */

    .stepNumber {
        /* translate: 0 -1%; */
    }

    /* .stepTitle, .stepNumber {
        font-size: 20px;
    } */
    /* .stepNumber,
    .stepTitle {
        font-size: 20px;
    }

    .stepIcon {
        width: 20px;
        height: 20px;
    }

    .stepDescription,
    .stepResult {
        font-size: 14px;
    } */
}

@media screen and (max-width: 767px) {

    /* .step {
        padding: 12px 0;
        grid-template-columns: 20px 1fr;
        gap: 12px 48px;
    }

    .stepDescription {
        grid-column: 2/3;
    } */
}